@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #010101;
  --primary: #C61AFF;
  --secondary: #1a1a1a;
  --stock: #9595954b;
  --font-Manrope-sans: 'Manrope', sans-serif;
  --font-Manrope-mono: 'Manrope', monospace;
  
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-stock: var(--stock);
  

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(  --font-Manrope-sans);
}

p{
  line-height: 1.6;
}

@layer utilities {
  .h2 {
    @apply text-2xl md:text-3xl font-semibold inline-block md:mt-0 mb-6 ;
  }
  .h2White {
    @apply text-2xl md:text-3xl font-bold inline-block md:mt-0 mb-6 ;
  }
  .h3{
    @apply text-2xl font-semibold
  }
}